.sections {
  flex-direction: column;
  flex: 1;
  .dialog__text__container {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
  }
  .dialog-buttons__container {
    margin-top: 20px;
    //margin-bottom: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .current_bids {
    flex: 1;
    margin: 20px 20px 0 20px;
  }

  .bids_archive {
    flex: 1;
    margin: 20px 20px 0 20px;
  }

  .pools {
    flex: 1;
    margin: 20px 20px 0 20px;
  }
}

