@font-face {
  body {
    font-family: "11452";
    src: url("/fonts/11452.otf") format("otf"); } }

div {
  display: flex;
  box-sizing: border-box; }

ul, li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none; }

li {
  display: flex; }

section {
  border: 1px solid #dcdcdc; }
